.navbar {
  width: 100%;
  position: fixed;
  height: 67px;
  z-index: 1;
}
.navbarBlack {
  background-color: rgb(20, 20, 20);
}
.logo {
  width: 130px;
  float: left;
  padding: 20px 40px 40px 40px;
}
.user {
  width: 50px;
  float: right;
  margin-right: 60px;
  padding-top: 9px;
}
a {
  text-decoration: none;
  color: white;
  float: left;
  list-style: none;
  margin-left: 30px;
  margin-top: 25px;
}
.dropbtn{
  margin: auto;
  position: relative;
}

.dropdown {
  float: left;
  overflow: hidden;
  display: none;
}

.dropdown .dropbtn {
  font-size: 20px;
  margin: auto;
  color: white;
  /* padding: 20px; */
  margin-top: 20px;
  border-radius: 5px;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #333;
}

.dropdown-content {
  display: none;
  position: absolute;
  float: left;
  margin-left: -180px;
  margin-top: 30px;
  min-width: 300px;
  text-align: center;
  background-color: rgb(20, 20, 20,0.75);
  border-top:3px solid white ;
}

.dropdown-content a {
  text-align: center;
  float: none;
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width:918px) {
   nav{
      display: none;
   }
   .dropdown{
     display: block;
   }
   .logo{
     width: 90px;
   }
   .user{
     margin-right: 10px;
   }
 }
